@font-face {
    font-family: MountainsofChristmas-Regular; /* Гарнитура шрифта */
    src: local(MountainsofChristmas-Regular), url(../fonts/MountainsofChristmas-Regular.ttf); /* Для остальных браузеров */
}

body, input, button {
    font-family: 'MountainsofChristmas-Regular', Fantasy;
}
input, button {
    border-radius: 5px;
}
body {
    background: url(../img/pergament.jpg);
}
.floor_header {
    font-size: 30px;
    margin-left: 300px;
}
.floor-active {
    background: #dc0;
}
#map {
    position: relative;
    left: 50px;
    font-weight: 600;
    float:left;
}

svg, img, #start_label, #finish_label {
    position: absolute;
}
.button_floor_2, .button_floor_4, .button_floor_2 {

}
.group_label {
    position: absolute;
}
.label, .group_label {
    background: rgba(155,80,0,0.7);
    padding: 2px;
    border-radius: 5px;
}

img {
    z-index: -1;
}
path {
    fill: none;
    stroke: #800;
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 10 20;
    /*animation: dasharray 5s;
    animation-iteration-count: 1;*/

}

path:hover {
    stroke: #cc0;

}

.right_block {
    float: left;
    margin-left: 430px;
}

.header_block {
    padding-left: 275px;
    font-size: 22px;
}

/*@keyframes dasharray {
    0% {
        stroke-dasharray:  0 1000;
    }
    100% {
        stroke-dasharray: 1000 0;
    }
}*/