@font-face {
    font-family: MountainsofChristmas-Regular;
    src: local(Itim-Regular), url(../fonts/MountainsofChristmas-Regular.ttf); 
}


input, button {
    border-radius: 5px;
}

body {
    background: url(../img/pergament.jpg);
    background-size: cover;
    font-family: 'MountainsofChristmas-Regular', Fantasy;
    font-size: x-large;
}

p {
    height: 3px;
}
img {
    font-family: 'MountainsofChristmas-Regular', Fantasy;
}
h1 {
    font-family: 'MountainsofChristmas-Regular', Fantasy;
    text-align: center; 
}
form {
    text-align: center;
    position: center;

}
input {
    font-family: 'MountainsofChristmas-Regular', Fantasy;
    border-radius: 5px;
    position: static;
    background: #EEE8AA;
}

button{
    background: url(../img/wood_button_push.jpg);
    border-color: #997300;
    border-radius: 5px;
}

button:active {
    background: url(../img/wood_button_pull.jpg);
    border-color: #662200;
    border-radius: 5px;
    color: white;
}

