<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/style.css"/>
  <title>Maradeur's map</title>
</head>

<body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.16.6/lodash.min.js"></script>
<script src="static/js/roomDict.js"></script>
<div>
  <h1>Maradeur's map</h1>
  <span>From</span>
  <input id="from" type="text" size="5"/>
  <span>to</span>
  <input id="to" type="text" size="5"/>
</div>


<button onclick="updateNodes()" id="button">Find path!</button>
<br>
<button class="floor_2" onclick="setFloor(2)">show 2 floor</button>
<br>
<button class="floor_4" onclick="setFloor(4)">show 4 floor</button>
<br>
<button class="floor_5" onclick="setFloor(5)">show 5 floor</button>

<div class="floor_header">Floor 2</div>

<div id="map">
  <image  class="floor_2" src="static/img/2.png"/>
  <image  class="floor_4" src="static/img/4.png"/>
  <image  class="floor_5" src="static/img/5.png"/>

  <svg>
  </svg>
  <div id="start_label" class="label">text1</div>
  <div id="finish_label" class="label">text2</div>
  <div id="group_504_SE" class="group_label">504_SE!</div>
  <div id="group_503_CS" class="group_label">503_CS!</div>
  <div id="group_504_BI" class="group_label">504_BI!</div>
  <div id="group_603_CS" class="group_label">603_CS!</div>

</div>
<script>
  function updateNodes() {
  var node1 = document.getElementById("from").value;
  var node2 = document.getElementById("to").value;
  if (!roomDict[node1] || !roomDict[node2]) {
    return
  } else {
    node1 = roomDict[node1];
    node2 = roomDict[node2];
    getData(node1, node2);
  }

  }
  function getData(node1, node2, path) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "graph/" + node1 + "/" + node2 + "", true);
    xhr.send();
    xhr.onreadystatechange = function() {
      if (xhr.readyState != 4) return;
      if (!path) {
        drawPath(JSON.parse(xhr.responseText));
        console.log("common path");

      } else {
        //console.log("is path");
        drawPath(JSON.parse(xhr.responseText), path);
        moveTable()
      }
    }
  }
</script>
<script src="static/js/drawAll.js"></script>

</body>

</html>

