<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/style_login.css"/>
  <title>Maradeur's map</title>
</head>
<body>
<h1>Sign In</h1>
<form action="" method="post" name="login">
    <p>
        Login:<br>
        <span style= "position:absolute">{{form.username(size=30)}}</span>
        {% for error in form.errors.group %}
        <span style="
        color: red; 
        font-size: 70%; 
        position:relative;
        left: 200px;
        bottom: 7px;
	width:300px;">[{{error}}]</span>
        {% endfor %}<br>

    </p>
    <p>
        Group: <br>

        <span style= "position:absolute">{{form.group(size=30)}} </span>
        {% for error in form.errors.group %}
        <span style="
        color: red; 
        font-size: 70%; 
        position:relative;
        left: 200px;
        bottom: 7px;
	width:300px;">[{{error}}]</span>
        {% endfor %}<br>



    </p>
    <p>
        Where are you? <br>
        <span style= "position:absolute">{{form.location(size=30)}}</span>
        {% for error in form.errors.group %}
        <span style="
        color: red; 
        font-size: 70%; 
        position:relative;
        left: 200px;
        bottom: 7px;
	width:300px;">[{{error}}]</span>
        {% endfor %}<br>

    </p>

    <p><input type="submit" value="Sign In"></p>
    <p><img src="static/img/large.png" alt="альтернативный текст"></p>
</form>
</html>
